<form  class="wrapper relative" action="/login" method="POST">
    <div class="login" id="login">
        <input type="text" placeholder="ელ-ფოსტა" class="login__input"  name="email" required>
        <input type="password" placeholder="პაროლი" class="login__input" name="password" required>
        <button class="login__btn">შესვლა</button>
        <div class="exit" onclick="popupClose()"></div>
    </div>
</form>