<div class="wrapper relative">
    <div class="popUp" id="loginOrRegister">
        <button class="popUp__btn" onclick="loginPopup()">შესვლა</button>
        <button class="popUp__btn" onclick="regFis()">ფიზ.პირის რეგისტრაცია</button>
        <button class="popUp__btn" onclick="regCom()">კომპანიის რეგისტრაცია</button>
        <div class="exit" onclick="popupClose()"></div>
    </div>
</div>